<div id="dropdown">
            <img src="/images/icons/Hamburger.png" alt="Dropdown Icon" id="dropdown-top">
            <div id="dropdown-menu">
                <a href="https://www.linkedin.com/in/ianstolte/">LinkedIn</a>
                <a href="/art.html">Art</a>
                <a href="https://github.com/Ian-Stolte">GitHub</a>
                <a href="https://ember44.itch.io">Itch.io</a>
                <a href="/resume.pdf">Resumé</a>
            </div>
        </div>
