    <header id="header">
        <div id="title-wrapper" style="padding-bottom: 5px;">
            <span id="header-title"><a href="/index.html">Ian Stolte</a></span>
            <span id="header-subtitle">Gameplay Programmer</span>
        </div>
        <nav id="right-header" aria-label="Profiles and résumé">
            <a href="https://www.linkedin.com/in/ianstolte/"><img src="/images/icons/Linkedin.png" alt="Linkedin Icon" class="header-icon-big" style="margin-bottom: -7px;"></a>
            <a href="https://github.com/Ian-Stolte"><img src="/images/icons/GitHub.png" alt="GitHub Icon" style="margin-bottom: -7px;" class="header-icon-big"></a>
            <a href="https://ember44.itch.io"><img src="/images/icons/Itch.png" alt="Itch.io Icon" class="header-icon-big" style="margin-bottom: -8px;"></a>
            <a href="/resume.pdf"><img src="/images/icons/Resume.png" alt="Resumé Icon" class="header-icon-big"></a>
        </nav>
        {% include "dropdown.njk" %}
    </header>
