
body
{
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: "Noto Sans";
    background-color: rgb(13, 13, 13);
    color: rgb(240, 240, 240);
}

h1 {
    font-family: "Zain";
    font-size: 60px;
    margin-bottom: -20px;
    margin-top: 10px;
}



/*HEADER*/

#header {
    position: fixed;
    display: flex;
    left: 0;
    width: 100%;
    padding: 15px 0px;
    background-color: rgb(30, 30, 30);
    color: rgb(220, 220, 220);
    z-index: 3;
}

#title-wrapper {
    display: flex;
    flex-direction: column;
}

#header-title {
    padding-left: 40px;
    margin: auto 0px;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
}

#header-subtitle {
    font-size: 18px;
    margin-top: -5px;
    margin-left: 25px;
}

#right-header {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-icon {
    width: 70px;
    margin-right: 40px;
}

.header-link {
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    background-color: rgb(40, 40, 40);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
}

.header-link a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}



#intro {
    width: 70%;
    margin: auto;
    padding: 150px 30px 50px;
    font-size: 26px;
    display: flex;
    gap: 50px;
}

#intro img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
    border-width: 3px;
    border-color: white;
}

/*IMAGE GRID*/

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 100px 50px;
    padding: 30px 30px 30px;
}

.image-item-bg {
    margin-top: 15px;
    background-color: rgb(30, 30, 30);
    padding-bottom: 20px;
}
  
.image-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.image-label {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
}

.image-item h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: -5px;
    font-size: 36px;
    color: #d0d0d0;
}

.image-item span {
    font-size: 24px;
}

.image-item p {
    text-align: center;
    margin: 5px 0 0;
    font-size: 18px;
    margin-top: 5px;
    color: #bfbfbf;
    padding: 0px 10px;
}


/*GAME PAGE*/

.game-page
{
    padding: 150px 0px 0px;
    text-align: left;
    font-size: 20px;
}

.game-page h1 {
    white-space: nowrap;
    overflow: visible;
}

.cover-gif
{
    width: 60%;
    float: left;
    margin: 25px 30px 0px 0px;
}

#text-content {
    padding-left: 15px;
}

.project-info {
    overflow: hidden;
    background-color: rgb(30, 30, 30);
    margin-bottom: 30px;
    padding: 10px 15px 20px;
    margin-left: -15px;
}

.desc {
    width: 90%;
    padding-top: 10px;
    margin: auto;
    line-height: 1.6;
}

.desc h2 {
    margin-bottom: -10px;
}

.desc p {
    margin-bottom: 30px;
}

.desc img {
    width: 65%;
    margin-bottom: 10px;
}

.itch-button {
    width: 200px;
    margin: 60px auto;
    text-align: center;
    background-color: rgb(40, 40, 40);
    padding: 20px;
    border-radius: 10px;
}



/*MISC*/

a:hover { opacity: 0.7; }

a
{
    color:rgb(231, 154, 154);
    font-size: 24px;
}

#contact-info
{
    margin-top: 200px;
    margin-bottom: 40px;
}