
body
{
    margin: auto;
    text-align: center;
    font-family: "Noto Sans";
    background-color: rgb(13, 13, 13);
    color: rgb(240, 240, 240);
}

@media (max-width: 600px)
{
    body {
        width: 95%;
    }
}

h1 {
    font-family: "Zain";
    font-size: 60px;
    margin-bottom: -20px;
    margin-top: 10px;
}



/*HEADER*/

#header {
    position: fixed;
    display: flex;
    left: 0;
    width: 100%;
    padding: 15px 0px;
    background-color: rgb(30, 30, 30);
    color: rgb(220, 220, 220);
    z-index: 3;
    border-bottom: 3px solid black;
    /*box-shadow: 0px 5px 10px rgba(108, 75, 127, 0.4);*/
}

#title-wrapper {
    display: flex;
    flex-direction: column;
}

#header-title a {
    padding-left: 10px;
    margin: auto 0px;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
}

#header-subtitle {
    font-size: 18px;
    margin-top: -3px;
    margin-left: 30px;
}

#right-header {
    margin-left: auto;
    display: flex;
    align-items: center;
}

#left-header {
    margin-right: auto;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.header-icon {
    display: block;
    width: clamp(45px, 5vw, 70px);
    margin-right: clamp(5px, 3vw, 40px);
}

.header-link {
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: clamp(5px, 3vw, 40px);
    background-color: rgb(40, 40, 40);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
}

.section-link {
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: clamp(5px, 3vw, 20px);
    background-color: rgb(40, 40, 40);
    padding: 15px;
    border-radius: 10px;
    border: 2px solid rgb(130, 130, 130);
}

.section-link-filled {
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: clamp(5px, 3vw, 20px);
    background-color: rgb(210, 210, 210);
    padding: 15px;
    border-radius: 10px;
    color: black;
    border: 2px solid rgb(0, 0, 0);
}


/*DROPDOWN*/

#dropdown {
    display: none;
    margin-left: auto;
    padding-right: 20px;
    align-items: center;
    position: relative;
}

#dropdown-top {
    width: 40px;
    right: 0;
    cursor: pointer;
}

#dropdown.open #dropdown-menu,
#dropdown:hover #dropdown-menu {
  display: block;
}


#dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  font-size: 16px;
  background: rgb(30, 30, 30);
  min-width: 130px;
  box-shadow: 0px 4px 6px rgba(108, 75, 127, 0.4);
  z-index: 1000;
}

#dropdown-menu a {
  display: block;
  padding: 10px 14px;
  color: #fff;
  text-decoration: none;
}

#dropdown-menu a:hover { background: rgb(18, 18, 18); }

@media (max-width: 1000px)
{
    #dropdown {
        display: flex;
    }

    #left-header, #right-header {
        display: none;
    }
}


/*INTRO*/

#intro {
    background-color: rgb(64, 64, 64);
    margin-top: 25px;
    border: 4px solid rgb(30, 30, 30);
}

#intro-content {
    width: 55%;
    margin: auto;
    padding: 20px 30px;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 50px;
}

#intro img {
    margin: auto;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    /*border: 3px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 15px rgba(108, 75, 127, 0.6);*/
}

@media (max-width: 1000px) {
    #right-header {
        display: none;
    }

    #intro-content {
        flex-direction: column;
        width: 90%;
        margin-bottom: -20px;
    }

    #intro img {
        margin-bottom: -40px;
    }
}


/*IMAGE GRID*/

#click-to-learn {
    text-align: left;
    margin: 0px 0px -20px 20px;
    color: rgb(157, 163, 231);
    font-style: italic;
}

.image-grid {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 70px 60px;
    padding: 150px 30px 30px;
}

.image-item {
    /*box-shadow: 0px 0px 15px rgba(108, 75, 127, 0.5);*/
    box-shadow: 5px 5px 16px rgba(108, 75, 127, 0.4);
    border: 2px solid rgb(0, 0, 0);
}

.image-item-bg {
    margin-top: -5px;
    border-top: 3px solid white;
    background-color: rgb(30, 30, 30);
    padding-bottom: 20px;
}

@media (max-width: 1000px) {   
    .image-grid {
        grid-template-columns: 1fr;
        gap: 60px 0px;
        padding: 150px 10px 30px;
    }
}
  
.image-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.image-item a {
    position: relative;
    display: inline-block;
}

.image-label {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 6px;
    color: white;
    border: 1px solid white;
}

.image-item h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: -5px;
    padding-top: 5px;
    font-size: 36px;
    color: #d0d0d0;
}

.image-item span {
    font-size: 24px;
}

.image-item p {
    text-align: center;
    margin: 5px 0 0;
    font-size: 16px;
    margin-top: 5px;
    color: #bfbfbf;
    padding: 0px 10px;
}

.image-item-details p {
    text-align: left;
    font-size: 17px;
    margin: 5px 30px 0 30px;
}


/*ART PAGE*/

.art-gallery {
    column-count: 3;
    column-gap: clamp(15px, 3vw, 45px);
    margin: 0px 15px;
}

.art-image {
    position: relative;
    display: inline-block;
    margin-top: 40px;
}

.art-image img, video {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}

.art-image img:hover, .art-image video:hover {
    opacity: 0.7;
}

.art-image p {
    margin-top: 5px;
    padding-left: 5px;
    font-style: italic;
    text-align: left;
}


@media (min-width: 1200px) {   
    #art-gallery-3col { display: block; }
    #art-gallery-1col { display: none; }
}

@media (max-width: 1200px) {   
    .art-gallery {
        column-count: 2;
        column-gap: 25px;
    }
}

@media (max-width: 600px) {   
    .art-gallery {
        column-count: 1;
        margin: 0px;
    }

    #art-gallery-3col { display: none; }
    #art-gallery-1col { display: block; }
}

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#lightbox.visible {
    display: flex;
}

#lightbox img {
    max-width: 80%;
    max-height: 85%;
    border: 3px solid rgb(180, 180, 180);
    border-radius: 10px;
}

#lightbox video {
    height: 85%;
    width: auto;
    max-width: 80%;
    border: 3px solid rgb(180, 180, 180);
}

#lightbox-caption {
    color: white;
    position: absolute;
    bottom: 0%;
    font-size: 22px;
    font-style: italic;
    margin: 20px;
}

#lightbox .nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 90px;
  cursor: pointer;
  user-select: none;
}

#lightbox .prev { left: 7%; }
#lightbox .next { right: 7%; }
#lightbox .nav:hover { opacity: 0.5; }

@media (max-width: 600px) {   
    #lightbox img {
        max-width: 95%;
        max-height: 95%;
    }
    #lightbox video {
        width: 95%;
        height: auto;
    }
    #lightbox .prev { left: 5%; }
    #lightbox .next { right: 5%; }
    #lightbox-caption { font-size: 19px; }
}



/*GAME PAGE TOP*/

.go-back {
    text-decoration: none;
    display: none;
}

.game-page video {
    border: 4px solid rgb(0, 0, 0);
    margin-right: 45px;
}

@media (max-width: 600px)
{
    .go-back {
        display: none;
    }

    .game-page video {
        margin-top: -20px;
    }
}

.game-page {
    padding: 140px 0px 0px;
    width: 85%;
    margin: auto;
    text-align: left;
    font-size: 20px;
}

.game-page-top {
    display: flex;
    align-items: flex-start;
}

.game-page h1 {
    font-size: clamp(40px, 5vw, 60px);
    white-space: nowrap;
    overflow: visible;
}

.game-summary {
    flex: 1;
    font-size: clamp(16px, 4vw, 20px);
}

.cover-gif
{
    width: 60%;
    margin: 15px 30px 0px 0px;
}

.project-info {
    position: relative;
    overflow: hidden;
    background-color: rgb(30, 30, 30);
    margin: 30px 15px 0px -10px;
    padding: 10px 15px 10px;
    border: 2px solid rgb(62, 62, 62);
}

.project-info h2 {
    margin-top: 10px;
}

.itch-button {
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0px;
    width: 150px;
    text-align: center;
    background-color: rgb(70, 66, 85);
    border: 2px solid rgb(34, 30, 49);
    padding: 10px;
    border-radius: 10px;
}

.itch-button:hover {
    background-color: rgb(42, 40, 49);;
}

.itch-button a
{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-style: italic;
    font-size: 21px;
}

@media (max-width: 1000px) {
    .game-page video {
        margin-bottom: 5px;
    }
    
    .game-page-top {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .game-page h1 {
        padding: 0px 10px;
    }

    .game-summary {
        padding: 0px 10px;
    }

    .cover-gif {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .project-info {
        margin-top: 20px;
    }

    .game-summary {
        margin-bottom: 5px;
    }
}


/*GAME PAGE DESCRIPTION*/

ul li {
    margin-bottom: 8px;
}

.desc {
    width: 90%;
    padding-top: 30px;
    margin: auto;
    line-height: 1.6;
}

.desc ul {
    margin-bottom: 30px;
}

.desc h2 {
    margin-top: -20px;
    margin-bottom: -10px;
}

.desc p {
    margin-bottom: 30px;
}

.game-image-small {
    width: 400px;
    margin-bottom: -25px;
}

.game-image-large {
    width: 65%;
    margin-bottom: 10px;
    margin-top: 10px;
}

hr {
    height: 2px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}



/*MISC*/

a:hover { opacity: 0.7; }

a
{
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-decoration: none;
}

#contact-info
{
    margin-top: 200px;
    margin-bottom: 40px;
}