
body
{
    width: 85%;
    margin: auto;
    text-align: center;
    font-family: "Noto Sans";
    background-color: rgb(13, 13, 13);
    color: rgb(240, 240, 240);
}

@media (max-width: 600px)
{
    body {
        width: 95%;
    }
}

h1 {
    font-family: "Zain";
    font-size: 60px;
    margin-bottom: -20px;
    margin-top: 10px;
}



/*HEADER*/

#header {
    position: fixed;
    display: flex;
    left: 0;
    width: 100%;
    padding: 15px 0px;
    background-color: rgb(30, 30, 30);
    color: rgb(220, 220, 220);
    z-index: 3;
    box-shadow: 0px 5px 10px rgba(108, 75, 127, 0.4);
}

#title-wrapper {
    display: flex;
    flex-direction: column;
}

#header-title {
    padding-left: 10px;
    margin: auto 0px;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
}

#header-subtitle {
    font-size: 18px;
    margin-top: -3px;
    margin-left: 30px;
}

#right-header {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-icon {
    display: block;
    width: clamp(45px, 5vw, 70px);
    margin-right: clamp(5px, 3vw, 40px);
}

.header-link {
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: clamp(5px, 3vw, 40px);
    background-color: rgb(40, 40, 40);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
}

.header-link a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}


/*INTRO*/

#intro {
    width: 60%;
    margin: auto;
    padding: 150px 30px 50px;
    font-size: 24px;
    display: flex;
    gap: 50px;
}

#intro img {
    margin: auto;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    border-width: 3px;
    border-color: white;
}

@media (max-width: 1000px) {
    #right-header {
        display: none;
    }

    #intro {
        flex-direction: column;
        width: 90%;
        margin-bottom: -20px;
    }

    #intro img {
        margin-bottom: -40px;
    }
}


/*IMAGE GRID*/

#click-to-learn {
    text-align: left;
    margin: 0px 0px -20px 20px;
    color: rgb(157, 163, 231);
    font-style: italic;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 70px 60px;
    padding: 30px 30px 30px;
}

.image-item {
    box-shadow: 8px 8px 15px rgba(108, 75, 127, 0.4);
}

.image-item-bg {
    margin-top: -5px;
    border-top: 3px solid white;
    background-color: rgb(30, 30, 30);
    padding-bottom: 20px;
}

@media (max-width: 1000px) {   
    .image-grid {
        grid-template-columns: 1fr;
        gap: 60px 0px;
        padding: 10px;
    }
}
  
.image-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.image-item a {
    position: relative;
    display: inline-block;
}

.image-label {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 6px;
    color: white;
    border: 1px solid white;
}

.image-item h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: -5px;
    padding-top: 5px;
    font-size: 36px;
    color: #d0d0d0;
}

.image-item span {
    font-size: 24px;
}

.image-item p {
    text-align: center;
    margin: 5px 0 0;
    font-size: 16px;
    margin-top: 5px;
    color: #bfbfbf;
    padding: 0px 10px;
}

.image-item-details p {
    text-align: left;
    font-size: 17px;
    margin: 5px 30px 0 30px;
}


/*GAME PAGE TOP*/

.go-back {
    text-decoration: none;
}

@media (max-width: 600px)
{
    .go-back {
        display: none;
    }
}

.game-page {
    padding: 140px 0px 0px;
    text-align: left;
    font-size: 20px;
}

.game-page-top {
    display: flex;
    align-items: flex-start;
}

.game-page h1 {
    font-size: clamp(40px, 5vw, 60px);
    white-space: nowrap;
    overflow: visible;
}

.game-summary {
    flex: 1;
    font-size: clamp(16px, 4vw, 20px);
}

.cover-gif
{
    width: 60%;
    margin: 15px 30px 0px 0px;
}

.project-info {
    overflow: hidden;
    background-color: rgb(30, 30, 30);
    margin: 30px 0px 0px -10px;
    padding: 10px 15px 20px;
}

.project-info h2 {
    margin-top: 10px;
}

@media (max-width: 1000px) {
    .game-page video {
        margin-top: -20px;
        margin-bottom: 5px;
    }
    
    .game-page-top {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .game-page h1 {
        padding: 0px 10px;
    }

    .game-summary {
        padding: 0px 10px;
    }

    .cover-gif {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .project-info {
        margin-top: 0px;
    }

    .game-summary {
        margin-bottom: 5px;
    }
}


/*GAME PAGE DESCRIPTION*/

ul li {
    margin-bottom: 8px;
}

.desc {
    width: 90%;
    padding-top: 30px;
    margin: auto;
    line-height: 1.6;
}

.desc ul {
    margin-bottom: 30px;
}

.desc h2 {
    margin-top: -20px;
    margin-bottom: -10px;
}

.desc p {
    margin-bottom: 30px;
}

.desc img {
    width: 65%;
    margin-bottom: 10px;
}

.itch-button {
    width: 200px;
    margin: 60px auto;
    text-align: center;
    background-color: rgb(70, 66, 85);
    padding: 20px;
    border-radius: 10px;
}

.itch-button:hover {
    background-color: rgb(42, 40, 49);;
}

.itch-button a
{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 24px;
}



/*MISC*/

a:hover { opacity: 0.7; }

a
{
    color: rgb(186, 158, 218);
    font-size: 24px;
}

#contact-info
{
    margin-top: 200px;
    margin-bottom: 40px;
}