<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Ian Stolte | Technical Designer</title>
</head>

<body>

    <div id="header">
        <span id="header-title">Ian Stolte</span>
        <div style="margin-left: auto;">
            <a href="https://ember44.itch.io"><img src="/static/images/Itch.png" alt="Itch.io Icon" class="header-icon"></a>
            <a href="https://github.com/Ian-Stolte"><img src="/static/images/GitHub.png" alt="GitHub Icon" class="header-icon"></a>
            <a href="https://www.linkedin.com/in/ianstolte/"><img src="/static/images/Linkedin.png" alt="Linkedin Icon" class="header-icon"></a>
        </div>
    </div>

    <div id="content">
        {% block body %}  {% endblock %}
    </div>

    <!--<div id="contact-info">
        <hr width="90%">
        <h2>Contact Me!</h2>
        <i><p>Email: stolte@usc.edu</p>
        <p>Discord: embr3</p>
        <p>Instagram: @ian.stolte</p></i>
    </div>-->

</body>

</html>