{% extends "base.html.j2" %}

{% block body %}

    <div class="game-page">
        <a href="./" style="text-decoration: none;">< Go Back</a>
        <div style="clear: both;"></div>

        <img src="/static/images/Hive Mind.gif" alt="Hive Mind" class="cover-gif">
        <div id="text-content">
            <h1>Hive Mind (2024)</h1>
            <p><i>An RTS-lite where you play as a colony of ants, rapidly switching between
                searching for food and fighting off hungry beetles.</i></p>
            
            <div class="project-info">
                <h2>Project Info</h2>
                <p><b>Team Size</b>: 1</p>
                <p><b>Project Length</b>: 48 hours</p>
                <p style="font-size: 18px;"><i>(Post-Jam Version: 2 weeks)</i></p>
            </div>
            <p>
                <a href="https://ember44.itch.io/hive-mind-updated"><b>Play it on Itch!</b></a>
            </p>
        </div>

        <div style="clear: both; padding: 10px 0px;"></div>

        <br>
        <br>
        <hr>
        <div class="secondary-images">
            <img src="/static/images/Hive Mind 1.png">
            <img src="/static/images/Hive Mind 2.png">
            <img src="/static/images/Hive Mind 3.png">
        </div>
    </div>

{% endblock %}