{% extends "base.html.j2" %}

{% block body %}

    <div class="image-grid">

        <div class="image-item">
            <a href="/mantle">
                <img src="/static/images/Mantle Cover.png" alt="Mantle Cover Image">
            </a>
            <h1>Mantle</h1>
            <p>An MFA thesis project where you play as the crime-fighting robot Mantle,
                master dozens of minigames, and witness the origin story of an unexpected villain.</p>
        </div>

        <div class="image-item">
            <a href="/hive-mind">
                <img src="/static/images/Hive Mind Cover.png" alt="Hive Mind Cover Image">
            </a>
            <h1>Hive Mind</h1>
            <p>An RTS-lite where you play as a colony of ants, rapidly switching between
                searching for food and fighting off hungry beetles.</p>
        </div>

        <div class="image-item">
            <a href="/stranded">
                <img src="/static/images/Stranded Cover.png" alt="Stranded Cover Image">
            </a>
            <h1>Stranded</h1>
            <p>A multiplayer sci-fi game where you must work together to control your spaceship,
                navigate through a dense asteroid belt, and try to survive long enough for help to arrive.</p>
        </div>

        <div class="image-item">
            <a href="/fishing-game">
                <img src="/static/images/Fishing Cover.png" alt="Fishing Game Cover Image">
            </a>
            <h1>Fishing Game</h1>
            <p>An unfinished narrative platformer about the afterlife, a haunted hotel, and making peace with death.</p>
        </div>

        <div class="image-item">
            <a href="/the-lobby">
                <img src="/static/images/Lobby Cover2.png" alt="The Lobby Cover Image">
            </a>
            <h1>The Lobby</h1>
            <p>An unfinished narrative platformer about the afterlife, a haunted hotel, and making peace with death.</p>
        </div>

        <div class="image-item">
            <a href="/pulsefire">
                <img src="/static/images/Pulsefire Cover.png" alt="Pulsefire Cover Image">
            </a>
            <h1>Pulsefire</h1>
            <p>A top-down shooter where you not only need to dodge enemies and aim your weapons
                but also time your every move to the beat of the song.</p>
        </div>

        <div class="image-item">
            <a href="/punch-kick-block">
                <img src="/static/images/PKB Cover.png" alt="Punch, Kick, Block Cover Image">
            </a>
            <h1>Punch, Kick, Block</h1>
            <p>An exploration of adding complexity to a simple rock-paper-scissors fighting minigame.
                Deduce your opponent's patterns and counter their every move.</p>
        </div>
    </div>
    <div style="margin-bottom: 50px"></div>

{% endblock %}