{% extends "base.html.j2" %}

{% block body %}

    <div class="game-page">
        <a href="./" style="text-decoration: none;">< Go Back</a>
        <div style="clear: both;"></div>

        <img src="/static/images/Mantle.gif" alt="Mantle" class="cover-gif">
        <div id="text-content">
            <h1>Mantle (2025)</h1>
            <p><i>An MFA thesis project where you play as the crime-fighting robot Mantle,
                master dozens of minigames, and witness the origin story of an unexpected villain.</i></p>
            
            <div class="project-info">
                <h2>Project Info</h2>
                <p><b>Team Size</b>: ~20</p>
                <p><b>Role</b>: Engineer</p>
                <p><b>Project Length</b>: 5 months (ongoing)</p>
            </div>
        </div>

        <div style="clear: both; padding: 10px 0px;"></div>

        <br>
        <br>
        <hr>
        <div class="secondary-images">
            <img src="/static/images/Stranded 1.png">
            <img src="/static/images/Stranded 2.png">
            <img src="/static/images/Stranded 3.png">
        </div>

        <div style="width: 90%; margin: auto;">
            <p>Stranded was a semester-long project for an advanced computer science class, with the help of 2 classmates.
                I developed the original idea & pitched it, wrote most of the code (including networked multiplayer), and scored the game (see video below).
                The class was structured to simulate an industry environment, allowing me to gain invaluable experience with planning, presenting progress, and iterating on a project over a longer period of time.</p>
            <br>
            <br>
        </div>
    </div>

{% endblock %}